@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

:root{
    --yellow-color : #F8DE22;
    --border-yellow-color : hsla(53, 94%, 55%, 0.669);
    --text-font: monospace;
    --green: #08CB00;


}